@model IEnumerable<DesarrolloDocente.Models.SecurityModule.RoleModel>

@{
    ViewBag.Title = "Listado de Registros";
}

<h2>Listado de Registros</h2>

<p>
    @Html.ActionLink("Nuevo Registro", "Create", new { }, new { @class = "btn btn-success" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" }) |
                @Html.ActionLink("Formularios", "Forms", new { id = item.Id }, new { @class = "btn btn-info" })
            </td>
            </td>
        </tr>
        }
    </tbody>

</table>
